In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Returns-withna.csv',index_col=0)

In [3]:
df

,BSESN.ret,BVSP.ret,FTSE.ret,GDAXI.ret,GSPC.ret,HSCE.ret,IBEX.ret,JKSE.ret,MXX.ret,N225.ret,TWII.ret,VIX.ret,VLIC.ret
2016-07-01 02:00:00,0.027912,0.041594,0.069087,0.022652,0.031662,NaN,0.059956,0.027946,0.029145,0.047698,0.030353,-0.556225,0.025985
2016-07-08 02:00:00,-0.000664,0.017234,0.001944,-0.015095,0.012734,-0.020653,-0.010088,NaN,-0.010200,-0.037387,-0.011201,-0.112381,0.012347
2016-07-15 02:00:00,0.025822,0.044839,0.011856,0.044405,0.014838,0.058576,0.041293,0.027496,0.020965,0.088073,0.035129,-0.040980,0.022615
2016-07-22 02:00:00,-0.001196,0.025299,0.009149,0.007971,0.006129,-0.001961,0.008044,0.016896,0.017483,0.007813,0.007047,-0.052665,0.004637
2016-07-29 02:00:00,0.008902,0.005354,-0.000907,0.018555,-0.000658,-0.008111,-0.001478,0.003600,-0.018613,-0.003493,-0.003193,-0.012558,0.002851
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-06-01 02:00:00,0.008621,-0.021238,-0.003694,-0.016658,0.004872,-0.002299,-0.019950,NaN,-0.001751,-0.012525,0.000619,0.017991,0.003775
2018-06-08 02:00:00,0.006124,-0.057253,-0.002691,0.003317,0.016109,0.012049,0.011755,0.001677,0.020372,0.023322,0.018760,-0.099927,0.020821
2018-06-15 02:00:00,0.005023,-0.030399,-0.006164,0.018932,0.000227,-0.024599,0.010685,NaN,0.021519,0.006905,-0.006199,-0.016557,0.002893
2018-06-22 02:00:00,0.001892,-0.001655,0.006320,-0.033675,-0.008955,-0.045705,-0.005997,-0.029085,-0.004295,-0.014765,-0.017119,0.139254,-0.001635
2018-06-29 02:00:00,-0.007484,0.029597,-0.005927,-0.021999,-0.013341,-0.023815,-0.017451,-0.003885,0.019610,-0.009474,-0.005739,0.155706,-0.019178

In [4]:
df.index = pd.to_datetime(df.index)

In [5]:
df

,BSESN.ret,BVSP.ret,FTSE.ret,GDAXI.ret,GSPC.ret,HSCE.ret,IBEX.ret,JKSE.ret,MXX.ret,N225.ret,TWII.ret,VIX.ret,VLIC.ret
2016-07-01 02:00:00,0.027912,0.041594,0.069087,0.022652,0.031662,NaN,0.059956,0.027946,0.029145,0.047698,0.030353,-0.556225,0.025985
2016-07-08 02:00:00,-0.000664,0.017234,0.001944,-0.015095,0.012734,-0.020653,-0.010088,NaN,-0.010200,-0.037387,-0.011201,-0.112381,0.012347
2016-07-15 02:00:00,0.025822,0.044839,0.011856,0.044405,0.014838,0.058576,0.041293,0.027496,0.020965,0.088073,0.035129,-0.040980,0.022615
2016-07-22 02:00:00,-0.001196,0.025299,0.009149,0.007971,0.006129,-0.001961,0.008044,0.016896,0.017483,0.007813,0.007047,-0.052665,0.004637
2016-07-29 02:00:00,0.008902,0.005354,-0.000907,0.018555,-0.000658,-0.008111,-0.001478,0.003600,-0.018613,-0.003493,-0.003193,-0.012558,0.002851
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-06-01 02:00:00,0.008621,-0.021238,-0.003694,-0.016658,0.004872,-0.002299,-0.019950,NaN,-0.001751,-0.012525,0.000619,0.017991,0.003775
2018-06-08 02:00:00,0.006124,-0.057253,-0.002691,0.003317,0.016109,0.012049,0.011755,0.001677,0.020372,0.023322,0.018760,-0.099927,0.020821
2018-06-15 02:00:00,0.005023,-0.030399,-0.006164,0.018932,0.000227,-0.024599,0.010685,NaN,0.021519,0.006905,-0.006199,-0.016557,0.002893
2018-06-22 02:00:00,0.001892,-0.001655,0.006320,-0.033675,-0.008955,-0.045705,-0.005997,-0.029085,-0.004295,-0.014765,-0.017119,0.139254,-0.001635
2018-06-29 02:00:00,-0.007484,0.029597,-0.005927,-0.021999,-0.013341,-0.023815,-0.017451,-0.003885,0.019610,-0.009474,-0.005739,0.155706,-0.019178

In [6]:
df.isnull().sum(axis = 0)

BSESN.ret    25
BVSP.ret     25
FTSE.ret     25
GDAXI.ret    25
GSPC.ret     25
HSCE.ret     26
IBEX.ret     25
JKSE.ret     28
MXX.ret      25
N225.ret     25
TWII.ret     25
VIX.ret      25
VLIC.ret     25
dtype: int64

In [7]:
df_interpolate = df.copy()
for column in df.columns:
    df_interpolate[column] = df_interpolate[column].interpolate(method ='linear', limit_direction ='backward')

In [8]:
df_interpolate

,BSESN.ret,BVSP.ret,FTSE.ret,GDAXI.ret,GSPC.ret,HSCE.ret,IBEX.ret,JKSE.ret,MXX.ret,N225.ret,TWII.ret,VIX.ret,VLIC.ret
2016-07-01 02:00:00,0.027912,0.041594,0.069087,0.022652,0.031662,-0.020653,0.059956,0.027946,0.029145,0.047698,0.030353,-0.556225,0.025985
2016-07-08 02:00:00,-0.000664,0.017234,0.001944,-0.015095,0.012734,-0.020653,-0.010088,0.027721,-0.010200,-0.037387,-0.011201,-0.112381,0.012347
2016-07-15 02:00:00,0.025822,0.044839,0.011856,0.044405,0.014838,0.058576,0.041293,0.027496,0.020965,0.088073,0.035129,-0.040980,0.022615
2016-07-22 02:00:00,-0.001196,0.025299,0.009149,0.007971,0.006129,-0.001961,0.008044,0.016896,0.017483,0.007813,0.007047,-0.052665,0.004637
2016-07-29 02:00:00,0.008902,0.005354,-0.000907,0.018555,-0.000658,-0.008111,-0.001478,0.003600,-0.018613,-0.003493,-0.003193,-0.012558,0.002851
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-06-01 02:00:00,0.008621,-0.021238,-0.003694,-0.016658,0.004872,-0.002299,-0.019950,0.001494,-0.001751,-0.012525,0.000619,0.017991,0.003775
2018-06-08 02:00:00,0.006124,-0.057253,-0.002691,0.003317,0.016109,0.012049,0.011755,0.001677,0.020372,0.023322,0.018760,-0.099927,0.020821
2018-06-15 02:00:00,0.005023,-0.030399,-0.006164,0.018932,0.000227,-0.024599,0.010685,-0.013704,0.021519,0.006905,-0.006199,-0.016557,0.002893
2018-06-22 02:00:00,0.001892,-0.001655,0.006320,-0.033675,-0.008955,-0.045705,-0.005997,-0.029085,-0.004295,-0.014765,-0.017119,0.139254,-0.001635
2018-06-29 02:00:00,-0.007484,0.029597,-0.005927,-0.021999,-0.013341,-0.023815,-0.017451,-0.003885,0.019610,-0.009474,-0.005739,0.155706,-0.019178

In [9]:
df_interpolate.isnull().sum(axis = 0)

BSESN.ret    0
BVSP.ret     0
FTSE.ret     0
GDAXI.ret    0
GSPC.ret     0
HSCE.ret     0
IBEX.ret     0
JKSE.ret     0
MXX.ret      0
N225.ret     0
TWII.ret     0
VIX.ret      0
VLIC.ret     0
dtype: int64